# Spring Boot
Backend/src/main/resources/application.properties

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Node
Frontend/restaurantbooking/node_modules/

# React build
Frontend/restaurantbooking/build/

# Logs
*.log

# Environment files
.env
.env.*